<p id="notice"><%= notice %></p>

<h1>Custodian Accounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custodian_accounts.each do |custodian_account| %>
      <tr>
        <td><%= link_to 'Show', custodian_account %></td>
        <td><%= link_to 'Edit', edit_custodian_account_path(custodian_account) %></td>
        <td><%= link_to 'Destroy', custodian_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custodian Account', new_custodian_account_path %>
